[Unit]
Description=Electrum wallet daemon
Wants=network.target
Requires=docker.service
After=docker.service network.target

[Service]
TimeoutStartSec=5
Restart=always
RestartSec=20s
ExecStartPre=/usr/bin/docker pull ghcr.io/theborakompanioni/electrum-daemon
ExecStart=/usr/bin/docker run --rm --name electrum --publish 127.0.0.1:7000:7000 theborakompanioni/electrum-daemon
ExecStop=/usr/bin/docker stop electrum

[Install]
WantedBy=multi-user.target
